h1 {
    color: blue;
}

img {
    width: 400px;
    margin: 0 auto;
}

#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: lightcoral;
    padding: 50px;
    border: 5px solid black;
    margin: 0 auto;
}

#spanId {
    font-size: 18px;
    margin: 50px;
}

body {
    background-image: linear-gradient(lightblue, blue);
    text-align: center;
}

div {
    margin: 0 auto;
}